/* style the header */
*{
  box-sizing: border-box;
}
html ,*, body{
  margin: 0;
  padding: 0;
}

audio::-webkit-media-controls-panel{
  background-color: rgb(89,114,78);
}
audio{
  position:fixed;
  bottom:0;
  z-index: 2000;
}
del{
  color: rgb(133,157,151);
}
header {
 background-color:rgb(221,213,201);
 margin-top: 0px;
}
h1.hero{
 color: hsl(240,2.27%,17.25%);
 text-align: center;
 padding-top: 60px;
 padding-bottom: 40px;
}
/* style the paragraph */
p.hero{
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 50px;
}

/* nav bar styling
first, take the navbar class and apply:
  display flex to align side by side
  justify space between to spread the brand logo and link far apart
  align center to center them along the middle of our brand name
  background color 
  font color
*/

 .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(240,2.27%,17.25%);
  color:hsl(36,22.73%,82.75%) ;
	position:sticky;
  top: 0;
}

/* ---------brand title styling ----------*/

/* brand title
increase the font size and position the margin to the center with .5rem 
*/
.brandtitle{
  font-size: 1.5rem;
  margin: .5rem;
  padding-left: 5rem;
}
/* brand title link
target the a tag (link) within the brand title and remove text decoration and add color to the font
*/
.brandtitle a {
  color: hsl(36,22.73%,82.75%);
  text-decoration: none;
}
nav{
  z-index: 1000;
}
.navlinks {
  padding-right: 5rem;
}
/* nav link div
target the nav link unordered list 
remove margin and padding 
display flex to enlarge the text
*/
.navlinks ul{
  margin: 0;
  padding: 0;
  display: flex;
  
}
/* nav link list items
target the nav link unordered list items
remove style to remove the underline
*/
.navlinks li {
  list-style: none;

}
/* nav link list item links
target the nav link unordered list item links
add padding to separate them
display block to enlarge the text
*/
.navlinks li a{
  text-decoration: none;
  color:hsl(36,22.73%,82.75%) ;
  padding: 1rem;
  display: block;
}

/* nav link hoover effect
target the nav link unordered list with hoover 
add background color
*/
.navlinks li:hover{
  background-color: rgb(133,157,151);
}
/* https://www.youtube.com/watch?v=At4B7A4GOPg */

/* The dropdown container */
.dropdown {

  overflow: hidden;
  z-index: 1000;
  }
  
  /* Dropdown button */
  .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: rgb(221,213,201);
    padding: 1rem;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(43,43,45) ;
   
    min-width: 160px;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.5);
   
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; 
   
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color:rgb(133,157,151);
   
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;

  }
.youtube iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.youtube{
  padding-top: 20vh;
  padding-bottom: 20vh;
}
.background-tint {
  /* background-repeat: no-repeat; */

  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(0.55turn,
      rgb(201,160,18,.5), 
      rgb(221,213,201, .8)
    ),
    /* bottom, image */
    url(./images/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.breakfasttext{
  font-size: 80px;
  font-family: serif;
  text-align: center;
  padding-bottom: 80px;
  color: rgb(43,43,45);
}
.breakfastbox{
  display:grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 20vh;
  justify-content: space-around;
  row-gap: 5vh;

}
  div.pics img{
   border:  15px solid rgb(201,160,18,.6);
   border-radius: 15px;
   
  }
  
 
  
  div.captions{
    text-align: center;
    background-color: transparent;
    /* word-wrap: break-word; */
    
    max-width: fit-content;
    color: transparent;
    position: absolute;
    border-radius: 15px;
    height: 10px;
    transition:  2s;
  }
  div.pics:hover div.captions{
    color: black;
    background-color: rgb(227,226,227,.8);
    height: 330px;
    border-radius: 15px;
    box-shadow: 12px 12px 2px 1px rgb(43,43,45,.3);
    border: rgb(89,114,78) 10px solid;
  }
  div.pics{
    
    float: right;
    display: block;
    position: relative;
  }
  
figcaption{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-style: oblique;
  font-weight: bold;
}
div.pics:hover figcaption{
  color: transparent;
}

@media (max-width: 600px) {
  .breakfastbox {
    display: flex;
    flex-direction: column;
  }
  .navlinks ul{
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
}
.navbar{
  display: block;
  align-items: center;
}
 #vid{
  
  top:0;
  padding: 0;
  height: 450px;
}

}